<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="utf-8">
    <title>Teste desenvolvedor Magrathea Labs</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div>										
      <%= render 'layouts/navbar' %>
      <div className="container text-muted">
        <div id="main" role="main">
          <%= yield %>
        </div>
      </div>						
    </div>
  </body>
</html>
